.contenedorProductos {
    display: flex;
    justify-content: center;
}

.seccionesPedidos {
    padding: 4%;
    border: solid 1px gray;
    background-color: azure;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    color: #921176;
    font-style: italic;
    text-align: center;
    padding-bottom: 2rem;
}