.productBox {
    color: #66d6e0;
    text-align: center;
    background-color: azure;
}

button {
    font-size: 15px;
    color: #921176;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-radius: 5%;
    text-decoration: none;
}

button:hover {
    background-color: #66d6e0;
}

.btn-outline-info:hover {
    background-color: #921176;
    border-color: #e448c2;
    color: azure;
}

.cardBorder {
    margin: 2%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.margin {
    margin: 0.3%;
}

.card-text {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #921176;
    font-size: 1.2rem;
}

.productsImg {
    width: 80%;
}

.card {
    align-items: center;
    border: none;
}

.titulo {
    font-size: 25px;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
}

.loadImg {
    width: 100%;
}

.row {
    padding-left: 0px;
    padding-right: 0px;
}

.card-footer {
    display: flex;
    justify-content: center
}

.itemDetail {
    display: flex;
    justify-content: center;
}

.productBoxDetail {
    color: #66d6e0;
    text-align: center;
    background-color: azure;
    margin: 2%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}