* {
    margin: 0;
    padding: 0;
}

.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(#e448c2, #66d6e0);
    color: black
}